In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import gkey

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Anadyr,RU,2021-11-26 14:50:47,64.7500,177.4833,-14.30,70,0,8.95
1,1,Faya,SA,2021-11-26 14:50:48,18.3851,42.4509,68.11,64,8,7.58
2,2,Tottori,JP,2021-11-26 14:50:48,35.5000,134.2333,49.35,64,87,19.71
3,3,Cherepovets,RU,2021-11-26 14:50:49,59.1333,37.9000,33.62,93,90,13.42
4,4,Georgetown,MY,2021-11-26 14:50:49,5.4112,100.3354,80.55,89,20,4.61

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=gkey)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
print(temps)

[0, 68.11, 49.35, 33.62, 80.55, 75.72, 73.58, 78.28, 91.62, 0, 3.2, 15.31, 63.0, 71.65, 47.41, 81.99, 77.77, 31.12, 75.52, 27.01, 78.91, 68.77, 47.86, 54.18, 81.28, 78.62, 0, 73.36, 78.3, 60.64, 34.27, 48.16, 28.72, 30.78, 51.19, 63.75, 77.49, 12.72, 46.76, 39.07, 43.52, 79.83, 44.46, 79.18, 67.98, 0, 75.09, 95.68, 70.59, 73.42, 64.18, 86.11, 15.78, 91.56, 66.58, 0, 43.41, 0, 57.25, 56.23, 65.98, 11.03, 40.91, 77.14, 64.36, 0, 42.06, 48.31, 0, 86.38, 75.18, 43.39, 81.77, 68.32, 73.85, 33.12, 55.9, 32.63, 81.97, 70.21, 64.13, 43.09, 8.76, 0, 0, 82.56, 65.23, 83.84, 48.97, 31.89, 82.36, 78.87, 12.11, 99.05, 77.61, 53.38, 73.56, 87.48, 9.72, 76.64, 33.66, 76.68, 92.1, 73.2, 52.59, 44.1, 51.91, 80.19, 69.6, 49.62, 60.66, 77.23, 81.0, 77.05, 40.28, 25.34, 73.53, 63.95, 48.2, 19.53, 90.3, 86.67, 49.21, 50.97, 29.3, 46.67, 51.12, 80.56, 64.76, 90.25, 72.64, 48.02, 2.17, 57.02, 21.27, 33.12, 80.46, 31.84, 80.92, 84.9, 69.64, 79.25, 82.35, 37.22, 65.64, 81.03, 2.41, 0, 1.24, 57.43, 41.61, 53.13, 14.79, 40.73, 65.95, 35.19, 80.85, 61.05, 32.99, 0, 82.35, 76.84, 75.49, 82.54, 60.51, 96.89, 46.99, 80.47, 78.57, 62.33, 58.28, 79.77, 49.91, 0, 79.83, 14.77, 56.75, 43.72, 0, 39.6, 82.4, 26.2, 81.16, 94.3, 62.91, 63.01, 15.26, 91.98, 76.6, 79.97, 25.68, 59.63, 34.56, 70.56, 77.47, 73.47, 78.76, 72.09, 54.01, 0, 81.84, 53.51, 0, 38.98, 17.82, 27.19, 81.25, 76.57, 32.83, 51.71, 81.39, 58.37, 31.87, 87.84, 70.84, 29.84, 15.64, 51.67, 61.74, 81.63, 85.53, 70.14, 78.15, 19.09, 70.86, 56.53, 81.3, 89.04, 12.6, 40.12, 83.05, 38.98, 83.66, 88.95, 79.2, 59.14, 79.0, 13.82, 15.78, 69.76, 70.86, 66.06, 37.9, 74.98, 80.26, 65.03, 54.21, 75.7, 0.64, 34.47, 76.95, 0, 48.85, 95.41, 14.2, 54.64, 85.53, 11.88, 4.14, 57.06, 95.59, 75.31, 0, 72.01, 80.71, 27.07, 65.48, 64.85, 51.82, 55.36, 0, 67.14, 29.52, 73.29, 90.84, 25.12, 34.72, 80.98, 0, 15.78, 58.68, 30.83, 55.51, 79.61, 58.46, 31.15, 82.4, 80.89, 32.77, 58.51, 75.16, 73.98, 79.21, 43.23, 20.95, 62.74, 30.87, 77.02, 66.0, 24.03, 74.48, 44.38, 99.68, 53.89, 74.77, 78.76, 77.85, 89.17, 32.99, 44.47, 29.39, 85.68, 67.69, 55.38, 81.54, 32.32, 61.07, 67.51, 25.34, 11.64, 63.32, 4.87, 76.98, 35.49, 75.69, 79.97, 30.22, 57.76, 81.61, 71.82, 71.71, 89.24, 42.12, 84.04, 0, 42.12, 79.74, 92.61, 16.02, 82.49, 29.5, 100.17, 49.89, 11.01, 80.78, 77.47, 80.58, 0, 67.01, 80.44, 4.05, 81.57, 76.89, 82.35, 85.19, 2.44, 32.32, 51.73, 6.73, 2.07, 92.77, 28.15, 42.22, 2.62, 22.08, 83.61, 46.49, 59.09, 40.1, 60.55, 0, 54.95, 63.23, 74.91, 81.41, 82.47, 86.11, 64.47, 0, 0, 84.29, 36.09, 77.76, 43.23, 43.54, 25.14, 81.37, 70.41, 14.0, 2.89, 76.06, 70.54, 34.16, 68.97, 80.35, 98.91, 85.46, 76.95, 0, 78.85, 79.72, 0, 7.03, 37.26, 78.76, 38.86, 41.7, 76.71, 82.54, 72.05, 50.5, 81.5, 28.35, 49.68, 8.69, 43.88, 19.45, 0, 77.74, 33.71, 75.18, 44.51, 1.4, 10.71, 35.55, 30.07, 21.69, 89.47, 47.84, 55.0, 39.02, 31.14, 51.42, 19.81, 41.09, 71.38, 71.74, 0, 39.72, 42.03, 78.33, 97.21, 98.15, 37.76, 46.04, 85.1, 69.01, 53.69, 8.04, 39.42, 81.16, 79.14, 62.98, 50.76, 82.08, 51.58, 83.62, 36.32, 80.82, 76.68, 43.05, 62.94, 78.82, 74.66, 87.75, 66.97, 96.04, 63.21, 41.18, 2.26, 78.55, 82.49, 48.2, 70.41, 67.64, 85.37, 77.5, 0, 0, 74.1, 64.29, 83.73, 62.78, 45.99, 63.97, 80.24, 84.81, 65.95, 65.16, 77.27, 16.43, 90.46, 51.71, 0.79, 68.29, 74.91, 71.73, 68.9, 90.01, 79.21, 54.36, 100.89, 86.04, 75.06, 47.59, 11.57, 46.11, 15.82, 75.18, 74.53, 31.42, 40.06, 50.29, 67.51, 16.03, 59.25, 69.78, 80.82, 51.55, 82.35, 58.1, 36.41, 94.87, 0, 89.51, 78.94, 28.78, 84.2, 63.77, 66.65, 88.81, 65.44, 74.3, 50.95, 5.76, 74.97, 92.07, 39.69, 79.25, 80.94, 76.71, 68.56, 35.08, 72.28, 36.32, 12.15, 0, 50.76, 78.67, 78.17, 12.06, 42.37, 92.84, 80.49, 48.06, 60.28, 0, 47.32, 35.65, 82.69, 24.58, 3.02, 58.32, 43.48, 29.66, 37.45, 80.11, 88.7, 79.74, 78.91, 0, 41.0, 33.51, 25.03]

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.(for loop inside the heatmap function - no need of above cell for for loop)

heat_layer = gmaps.heatmap_layer(locations, [max(temp,0)for temp in max_temp],dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
locations = city_data_df[["Lat", "Lng"]]
windspeed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=windspeed, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [17]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Georgetown,MY,2021-11-26 14:50:49,5.4112,100.3354,80.55,89,20,4.61
5,5,Rikitea,PF,2021-11-26 14:50:49,-23.1203,-134.9692,75.72,71,100,13.04
7,7,Meulaboh,ID,2021-11-26 14:50:50,4.1363,96.1285,78.28,85,87,2.10
15,15,Wajid,SO,2021-11-26 14:50:53,3.8093,43.2471,81.99,56,100,3.85
16,16,Manado,ID,2021-11-26 14:49:25,1.4870,124.8455,77.77,94,20,1.14
18,18,Kapaa,US,2021-11-26 14:50:54,22.0752,-159.3190,75.52,73,20,12.66
20,20,Muisne,EC,2021-11-26 14:50:55,0.6000,-80.0333,78.91,81,100,9.46
24,24,Hithadhoo,MV,2021-11-26 14:50:56,-0.6000,73.0833,81.28,71,93,13.11
25,25,Bambanglipuro,ID,2021-11-26 14:50:57,-7.9500,110.2833,78.62,86,99,2.33
28,28,Atuona,PF,2021-11-26 14:50:58,-9.8000,-139.0333,78.30,75,7,18.84

In [18]:
preferred_cities_df.count()

City_ID       163
City          163
Country       163
Date          163
Lat           163
Lng           163
Max Temp      163
Humidity      163
Cloudiness    163
Wind Speed    163
dtype: int64

In [20]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
4      Georgetown      MY     80.55   5.4112  100.3354
5         Rikitea      PF     75.72 -23.1203 -134.9692
7        Meulaboh      ID     78.28   4.1363   96.1285
15          Wajid      SO     81.99   3.8093   43.2471
16         Manado      ID     77.77   1.4870  124.8455
18          Kapaa      US     75.52  22.0752 -159.3190
20         Muisne      EC     78.91   0.6000  -80.0333
24      Hithadhoo      MV     81.28  -0.6000   73.0833
25  Bambanglipuro      ID     78.62  -7.9500  110.2833
28         Atuona      PF     78.30  -9.8000 -139.0333

In [21]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": gkey
}

In [23]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [24]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Georgetown,MY,80.55,5.4112,100.3354,Cititel Penang
5,Rikitea,PF,75.72,-23.1203,-134.9692,People ThankYou
7,Meulaboh,ID,78.28,4.1363,96.1285,Kost Pria
15,Wajid,SO,81.99,3.8093,43.2471,xamdihotelresturant114
16,Manado,ID,77.77,1.4870,124.8455,Aryaduta Hotel
18,Kapaa,US,75.52,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
20,Muisne,EC,78.91,0.6000,-80.0333,Quinta Samay
24,Hithadhoo,MV,81.28,-0.6000,73.0833,Scoop Guest House
25,Bambanglipuro,ID,78.62,-7.9500,110.2833,Puri Brata
28,Atuona,PF,78.30,-9.8000,-139.0333,Villa Enata

In [25]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [27]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [28]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))