## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import gkey

# Configure gmaps API key
gmaps.configure(api_key=gkey)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Weather Description,Date
0,0,Yellowknife,62.4560,-114.3525,-4.61,93,35,9.04,CA,scattered clouds,2021-11-27 17:00:22
1,1,Codrington,-38.2667,141.9667,46.40,90,0,8.86,AU,clear sky,2021-11-27 17:00:22
2,2,Washington,47.5001,-120.5015,42.04,76,77,2.10,US,broken clouds,2021-11-27 16:58:29
3,3,Lata,40.1629,-8.3327,48.74,56,5,12.97,PT,clear sky,2021-11-27 17:00:23
4,4,Hilo,19.7297,-155.0900,71.71,74,18,1.66,US,few clouds,2021-11-27 17:00:23

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
Min_temp = float(input(f"What is the minimum temperature?"))
Max_temp = float(input(f"What is the maximum temperature?"))

What is the minimum temperature?68
What is the maximum temperature?75

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= Max_temp) & \
                                       (city_data_df["Max Temp"] >= Min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Weather Description,Date
4,4,Hilo,19.7297,-155.0900,71.71,74,18,1.66,US,few clouds,2021-11-27 17:00:23
10,10,Bredasdorp,-34.5322,20.0403,71.13,52,69,6.85,ZA,broken clouds,2021-11-27 17:00:26
12,12,Puerto Ayora,-0.7393,-90.3518,72.16,72,82,10.98,EC,broken clouds,2021-11-27 17:00:26
16,16,Chuy,-33.6971,-53.4616,72.48,71,99,11.16,UY,overcast clouds,2021-11-27 17:00:28
60,60,Pisco,-13.7000,-76.2167,71.49,69,81,6.80,PE,broken clouds,2021-11-27 17:00:44
70,70,San Luis,-33.2950,-66.3356,73.02,42,72,11.88,AR,broken clouds,2021-11-27 16:56:32
71,71,Mount Isa,-20.7333,139.5000,74.97,33,0,10.36,AU,clear sky,2021-11-27 16:57:03
81,81,Inhambane,-23.8650,35.3833,69.73,61,3,9.57,MZ,clear sky,2021-11-27 17:00:51
91,91,Moyale,3.5167,39.0584,68.99,81,100,5.03,KE,overcast clouds,2021-11-27 17:00:55
96,96,Cuamba,-14.8031,36.5372,70.02,71,59,9.53,MZ,broken clouds,2021-11-27 16:57:18

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                61
City                   61
Lat                    61
Lng                    61
Max Temp               61
Humidity               61
Cloudiness             61
Wind Speed             61
Country                61
Weather Description    61
Date                   61
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
new_df = preferred_cities_df.dropna()
new_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Weather Description,Date
4,4,Hilo,19.7297,-155.0900,71.71,74,18,1.66,US,few clouds,2021-11-27 17:00:23
10,10,Bredasdorp,-34.5322,20.0403,71.13,52,69,6.85,ZA,broken clouds,2021-11-27 17:00:26
12,12,Puerto Ayora,-0.7393,-90.3518,72.16,72,82,10.98,EC,broken clouds,2021-11-27 17:00:26
16,16,Chuy,-33.6971,-53.4616,72.48,71,99,11.16,UY,overcast clouds,2021-11-27 17:00:28
60,60,Pisco,-13.7000,-76.2167,71.49,69,81,6.80,PE,broken clouds,2021-11-27 17:00:44
70,70,San Luis,-33.2950,-66.3356,73.02,42,72,11.88,AR,broken clouds,2021-11-27 16:56:32
71,71,Mount Isa,-20.7333,139.5000,74.97,33,0,10.36,AU,clear sky,2021-11-27 16:57:03
81,81,Inhambane,-23.8650,35.3833,69.73,61,3,9.57,MZ,clear sky,2021-11-27 17:00:51
91,91,Moyale,3.5167,39.0584,68.99,81,100,5.03,KE,overcast clouds,2021-11-27 17:00:55
96,96,Cuamba,-14.8031,36.5372,70.02,71,59,9.53,MZ,broken clouds,2021-11-27 16:57:18

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = new_df[["City", "Country", "Max Temp", "Weather Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
4,Hilo,US,71.71,few clouds,19.7297,-155.0900,
10,Bredasdorp,ZA,71.13,broken clouds,-34.5322,20.0403,
12,Puerto Ayora,EC,72.16,broken clouds,-0.7393,-90.3518,
16,Chuy,UY,72.48,overcast clouds,-33.6971,-53.4616,
60,Pisco,PE,71.49,broken clouds,-13.7000,-76.2167,
70,San Luis,AR,73.02,broken clouds,-33.2950,-66.3356,
71,Mount Isa,AU,74.97,clear sky,-20.7333,139.5000,
81,Inhambane,MZ,69.73,clear sky,-23.8650,35.3833,
91,Moyale,KE,68.99,overcast clouds,3.5167,39.0584,
96,Cuamba,MZ,70.02,broken clouds,-14.8031,36.5372,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": gkey
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame:
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

In [10]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
4,Hilo,US,71.71,few clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
10,Bredasdorp,ZA,71.13,broken clouds,-34.5322,20.0403,Bredasdorp Country Manor
12,Puerto Ayora,EC,72.16,broken clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
16,Chuy,UY,72.48,overcast clouds,-33.6971,-53.4616,Nuevo Hotel Plaza
60,Pisco,PE,71.49,broken clouds,-13.7000,-76.2167,Hotel San Isidro Oficial
70,San Luis,AR,73.02,broken clouds,-33.2950,-66.3356,Huarpes Hotel
71,Mount Isa,AU,74.97,clear sky,-20.7333,139.5000,ibis Styles Mt Isa Verona
81,Inhambane,MZ,69.73,clear sky,-23.8650,35.3833,Oceano
91,Moyale,KE,68.99,overcast clouds,3.5167,39.0584,La Tahzan Guest House
96,Cuamba,MZ,70.02,broken clouds,-14.8031,36.5372,Hotel Vision

In [11]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))